* {
  margin: 0;
}
.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

body {
  background-color: #f5f6fa;
}


.app__header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app__header > h1{
  color: #f5f6fa;
  font-size: 1.8rem;
  font-family: 'Quicksand', sans-serif;
  background-color: gray;
  width: 400px;
  border-radius: 10px;
  padding: 5px;
  padding-left: 20px;
  margin-right: 20px;
  min-width: 300px;
}

.app__stats{
  display: flex;
  justify-content: space-between;
}

.app__left{
  flex: 0.9;
  margin-right: 20px;
}

.app__drowdown{
  background-color: white;
}
.app__right{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.app__rightCard {
  flex-grow: 1;
}

.app__graph {
  height: 190px;
}

.app__graphTitle{
  margin-top: 20px;
  margin-bottom: 10px;
}

@media (max-width: 990px){
  .app{
    flex-direction: column;

  }
  .app__left{
    margin-right: 0;
  }
}

@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');